<html>
    <h1>AMAZING!!!</h1>
    <p>This are links to my four favorite websites:
    <a href="https://www.google.com">#1</a>
    <a href="">#2</a>
    <a href="">#3</a>
    <a href="">#4</a>
        </p>
</html>
